.host {
  height: var(--scaled-height);
  overflow: clip;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  width: 100%;
}

.canvas {
  left: 50%;
  overflow: clip;
  position: absolute;
  top: 0;
  transform-origin: top center;
}
